{% extends "core/base.html" %}
{% block title %}Orders{% endblock %}

{% block content %} 
    <h1 class="text-center text-light">Заказы</h1>
    <div class="d-flex flex-row justify-content-center gap-3">
        {% for order in orders %}
            <div class="d-flex flex-row">
                <div class="card mb-2 border border-light" style="width: 22rem;">
                    <img src="{{order.product.image.url}}" class="card-img-top" alt="...">

                    <div class="card-body">
                        <h5 class="card-title">{{order.product.title}}</h5>

                        <div class="card-address">
                            <h3 class="fs-4">Куда доставить:</h3>
                            <h3 class="fs-5 mb-4">{{order.address}}</h3>
                        </div>

                        <div class="card-koment">
                            <h3 class="fs-4">Комментарий:</h3>
                            <h3 class="fs-5 mb-4">{{order.koment}}</h4>
                        </div>

                        <div class="card-count">
                            <h3 class="fs-4">Кол-во товаров:</h3>
                            <h3 class="fs-5 mb-4">{{order.count}}</h3>
                        </div>

                        <div class="card-phone">
                            <h3 class="fs-4">Номер телефона для связи:</h3>
                            <h3 class="fs-5 mb-4">{{order.phone}}</h4>
                        </div>

                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}