{% extends "core/base.html" %}
{% block title %}Product detail{% endblock %}

{% block content %} 
    <div class="d-flex justify-content-center mt-5 ">
        <div class="product_card border border-2 rounded-2 border-light" style="width: 25rem;" >
            

            <div class="product_image">
                <img src="{{product.image.url}}" class="card-img-top rounded-4" alt="...">
            </div>

            <div class="product_title text-center text-light mt-2">
                <h5 class="fs-1">{{product.title}}</h5>
                
            </div>

            <div class="ms-3">
                <a href="{% url 'create_order' product_id=product.id %}" class="fs-3 text-decoration-none btn btn-success">В корзину</a>
            </div>

            <div class="product_count ms-3 mt-1">
                <span class="text-secondary">На складе: {{product.count}}шт.</span>
            </div>


            <div class="product_price d-flex flex-row gap-1 ms-4 mt-1">
                <h2 class="text-light">{{product.price}} &#8381;</h2>
                <span class="card-discount text-danger fs-5">-{{ product.discount }}%</span>
            </div>
            
            <div class="product_rating d-flex justify-content-center my-3">
            {% for star in "**********" %}
                {% if product.rating >= forloop.counter %}
                <img width="25" height="25" src="https://img.icons8.com/emoji/48/star-emoji.png" alt="star-emoji"/>
                {% else %}
                <img width="25" height="25" style="filter: grayscale(1);" src="https://img.icons8.com/emoji/48/star-emoji.png" alt="star-emoji"/>
                
                {% endif %}
            {% endfor %}
            </div>

        </div>
    </div>
{% endblock %}